@font-face {
    font-family: 'Font-1-2-25-44-50';
    src: url(../font/1.系统自带楷体字.ttf);
}
@font-face {
    font-family: 'Font1-5-6-23-36-55-71-76-BH3';
    src: url(../font/2.祥隶字体变体.ttf);
}
@font-face {
    font-family: 'Font2-5-6-23-36-55-71-76-BH3';
    src: url(../font/3.汉仪唐隶繁.ttf);
}
@font-face {
    font-family: 'Font3-5-6-23-36-55-71-76-BH3';
    src: url(../font/4.华文隶书.ttf);
}
@font-face {
    font-family: 'Font-7-8-38-46-BH4';
    src: url(../font/5.标题宋体字.ttf);
}
@font-face {
    font-family: 'Font-1-2-74-BH1';
    src: url(../font/6.冲锋号角宋体.ttf);
}
@font-face {
    font-family: 'Font-9-10-26-63';
    src: url(../font/7.10篆书字体.ttf);
}
@font-face {
    font-family: 'Font-13-14-34-61-64';
    src: url(../font/8.10篆刻字体.ttf);
}
@font-face {
    font-family: 'Font-21-29-37-43';
    src: url(../font/9.制作印章篆刻体.ttf);
}
@font-face {
    font-family: 'Font-15-16-26';
    src: url(../font/10.繁体篆字.ttf);
}
@font-face {
    font-family: 'Font-1-2-25-44-50';
    src: url(../font/11.20魏碑字体.ttf);
}
@font-face {
    font-family: 'Font-57';
    src: url(../font/12.李国夫手写体.ttf);
}
@font-face {
    font-family: 'Font-80';
    src: url(../font/13.清风行楷字体.ttf);
}
@font-face {
    font-family: 'Font-45-62-65-72';
    src: url(../font/14.古印篆刻.ttf);
}
@font-face {
    font-family: 'Font-75';
    src: url(../font/15.九叠篆字体.ttf);
}
@font-face {
    font-family: 'Font-3-4-30-33-40-47-52-66-69-77-78-BH2';
    src: url(../font/16.mat\ hong\ 2华文行楷.ttf);
}
@font-face {
    font-family: 'Font1-5-6-23-36-55-71-76-BH3';
    src: url(../font/17.mat\ hong\ 3\ 华文隶书.ttf);
}
@font-face {
    font-family: 'Font2-5-6-23-36-55-71-76-BH3';
    src: url(../font/18.mat\ hong\ 3.\ 隶书字体.ttf);
}
@font-face {
    font-family: 'Font-45-62-65';
    src: url(../font/19.仿古印章.ttf);
}
@font-face {
    font-family: 'Font-20';
    src: url(../font/20.典雅美人篆体.ttf);
}
@font-face {
    font-family: 'Font-21';
    src: url(../font/21.霸道楷书字体.ttf);
}
@font-face {
    font-family: 'Font-17-18';
    src: url(../font/mau1718.ttf);
}
@font-face {
    font-family: 'Font-19-20-gianthe';
    src: url(../font/Mau1920Giảnthể.ttf);
}
@font-face {
    font-family: 'Font-19-20-phonthe';
    src: url(../font/mau1920phồnthể.ttf);
}
@font-face {
    font-family: 'Font-19-20';
    src: url(../font/Mau1920.ttf);
}